<div class="mt-4 container">
    Manage Countries
</div>
<div class="mt-4 container">
    <div class="col-12">
        <form>
            <label for="website">*Add country name:</label>
            <input class="form-control col-5" type="text" [(ngModel)]="addCountryName" [ngModelOptions]="{standalone: true}" [required]="addCountryName != undefined && addCountryName != ''">
        </form>
        <input value="Add Country" type="submit" class="btn btn-primary btn-md m-1 col-2" (click)="AddCountry(addCountryName)"/>
    </div>
</div>
<div class="mt-1 container">
    <div *ngFor="let country of countries; let ind=index" class="alert alert-dismissible">
        <span [innerHTML]="country.countryName" *ngIf="!udpateCountryInputShow[ind].show">{{udpateCountryInputShow}}</span>
        <input class="form-control" type="text" [(ngModel)]="countryName" *ngIf="udpateCountryInputShow[ind].show">
        <button class="btn btn-primary btn-md m-1" *ngIf="!udpateCountryInputShow[ind].show" (click)="udpateCountryEdit(country)">Edit</button>
        <div *ngIf="udpateCountryInputShow[ind].show">
            <button class="btn btn-primary btn-md m-1" (click)="updateCountrySaveEdit(country)">Save</button>
            <button class="btn btn-primary btn-md m-1" (click)="cancelCountryEdit(country)">Cancel</button>
        </div>
        <button class="btn btn-danger btn-close" (click)="removeCountry(country.countryId)"></button>
    </div>
</div>