<div class="mt-4 container">
    <h5>Manage Countries</h5>
</div>
<div class="mt-4 container">
    <div class="col-12">
        <form (submit)="AddCountry(addCountryName)">
            <label>*Add country name:</label>
            <input class="form-control col-5" type="text" [(ngModel)]="addCountryName" [ngModelOptions]="{standalone: true}" [required]="addCountryName != undefined && addCountryName != ''">
            <input value="Add Country" type="submit" [disabled]="addCountryName == undefined || addCountryName == ''" class="btn btn-primary btn-md m-1 col-4">
        </form>
    </div>
</div>
<div class="mt-3 container">
    <h5>Countries</h5>
    <div *ngFor="let country of countries; let ind=index" class="alert alert-dismissible border">
        <span [innerHTML]="country.countryName" *ngIf="!udpateCountryInputShow[ind].show">{{udpateCountryInputShow}}</span>
        <input class="form-control" type="text" [(ngModel)]="countryName" *ngIf="udpateCountryInputShow[ind].show">
        <button class="btn btn-primary btn-md m-1" *ngIf="!udpateCountryInputShow[ind].show" (click)="udpateCountryEdit(country)">Edit</button>
        <div *ngIf="udpateCountryInputShow[ind].show">
            <button class="btn btn-primary btn-md m-1" (click)="updateCountrySaveEdit(country)">Save</button>
            <button class="btn btn-primary btn-md m-1" (click)="cancelCountryEdit(country)">Cancel</button>
        </div>
        <button class="btn btn-danger btn-close mt-2 me-2" (click)="removeCountry(country.countryId)"></button>
    </div>
</div>